/* 
    Document   : cospetto
    Created on : 14-ago-2015, 11.17.27
    Author     : luigitessarolo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

